*{
    margin: 0;
    padding: 0;
}

.input-page{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 750px;
    width: 1800px;
    background-color: #3D424A;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    padding-top:100px;

}

.dropdowns{
    font-family: Montserrat;
}
.dropdown{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.type,.semester,.department{
    position: relative;
}

.type ul{
    position: absolute;
    background: #FFDDD2;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.4s ease;
}
.semester ul{
    position: absolute;
    background: #FFDDD2;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.4s ease;
    
}
.department ul{
    position: absolute;
    background: #FFDDD2;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.type li,.semester li,.department li{
    white-space: nowrap;
    background-color: #FEAE49;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type li:hover,.semester li:hover,.department li:hover{
    background-color: #cf8224;
}

.dropdown button{
    display: inline-block;
    background: #FEAE49;
    border:none;
    color:black;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 20px;
}

.dropdown button:hover{
    color: #3D424A
}

.type button:focus + ul,
.semester button:focus +ul,
.department button:focus +ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.material-symbols-outlined{
    position:absolute;
    align-items: center;
    
}
