@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.button-range{
    position: absolute;
    margin-top: -20px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 95vw;
    background-color: #3D424A;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border-radius: 25px;
    padding-top:50px;
    z-index: -2;
}

.ds{
    position: absolute;
    margin-bottom: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tabletop{
    position:absolute;
    margin-top: -130px;
    
    z-index: -1;
}
.fritabletop{
    position: absolute;
    margin-top: 290px;
}
.dropdowns{
    font-family: Montserrat;
}
.dropdown{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.semester,.department{
    position:relative;
    vertical-align: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 200px;
    top:10;
    z-index: 100;
    
}

.semester ul{
    position: absolute;
    background: #FFDDD2;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    margin-top: 10px;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: auto;
    transform: translateY(10px);
    transition: all 0.4s ease;
    
}
.department ul{
    position: absolute;
    background: #FFDDD2;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    z-index: 100;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: auto;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.semester li,.department li{
    white-space: nowrap;
    background-color: #FEAE49;
    width:100%;
    height: 100%;
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: default;
}

.semester li:hover,.department li:hover{
    background-color: #cf8224;
}

.dropdown button{
    display: inline-block;
    background: #FEAE49;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border:none;
    color:black;
    font-size: 20px;
    z-index: 100;
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 20px;
}

.dropdown button:hover{
    color: #617596;
}

.semester button:focus +ul,
.department button:focus +ul{
    opacity: 10;
    pointer-events: all;
    transform: translateY(0px);
}

.material-symbols-outlined{
    position:absolute;
    align-items: center;
    
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-left: 70px;
    background: rgb(255, 255, 255);
}

table{
    display: block;
    position: relative;
    width:95%;
    border: 0.1px solid #151314;
    border-radius: 9px;
    z-index: 0;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #f7d6d6;
    box-shadow: 9px 9px 18px #1f1f1f,
                -9px, -9px, 18px #474747;
}

th{
    border: 1px solid #455c57;
    border-radius: 6px;
    color: #151314;
    text-align: center;

}

td{
    border: 1px solid #455c57;
    border-radius: 8px;
    color: #151314;
    text-align: center;
}

.friday{
    border: #f2ebf1;
    text-align: center;

}

.buttons{
    padding-top: 500px;
    width:100%;
    display: flex;
    justify-content: space-around;
}

.exp-btn {
    display: inline-block;
    background: #FEAE49

}

.exp-btn:link, .exp-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}

.exp-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.2);
}

.exp-btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 0.2);
}

.exp-btn-white {
    background-color: white;
    color: #777;
}

.exp-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.exp-btn-white::after {
    background-color: white;
}

.exp-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(+100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.expa-btn{
    display: inline-block;
    background: #FEAE49

}

.expa-btn:link, .expa-btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}

.expa-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.2);
}

.expa-btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 0.2);
}

.expa-btn-white {
    background-color: white;
    color: #777;
}

.expa-btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.expa-btn-white::after {
    background-color: white;
}

.expa-btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(+100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.refresh-btn{
    display: inline-block;
    background: #FEAE49

}

.refresh-btn:link, .refresh-btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}

.refresh-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.2);
}

.refresh-btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 0.2);
}

.refresh-btn-white {
    background-color: white;
    color: #777;
}

.refresh-btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.refresh-btn-white::after {
    background-color: white;
}

.refresh-btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(+100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.break1, .break2, .break3, .friday{
    background: #fec89a;
}